<ion-content>
  <img src="../../assets/media/portadas/negocio3.jpg" alt="">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Gallo Pinto</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p style="font-size: 0.8em; margin-top: -1%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-textarea placeholder="Dirección Domiciliar"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button color="warning" style="margin: 0 auto;">Enviar Orden</ion-button>
    </ion-row>
    <br>
    <ion-row>
      <ion-button color="warning" style="margin: 0 auto;" (click)="retornar()"><ion-icon name="arrow-back-circle-outline"></ion-icon>  Retornar</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
