<ion-content class="fondo">
  <ion-grid padding>
      <ion-row padding>
        <ion-col>
          <br>
          <h6 class="texto"><ion-icon name="id-card-outline"></ion-icon> | Mi Perfil</h6>
          <!--<h3>___ <br>__<br>_</h3>-->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-avatar class="imagen">
            <img src="../../assets/media/portadas/negocio3.jpg" alt="" class="imagen">
          </ion-avatar>
          <h3 class="texto"> <strong> Axell Ramos </strong></h3>
          <p class="texto" style="margin-top: -2%;">Estudiante</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list style="background-color: #f8f8f8 !important;">

            <ion-item class="item">
              <ion-icon name="location-outline"></ion-icon>
              <ion-label>
                <h2>Pensa 4 cuadras al Este</h2>
              </ion-label>
            </ion-item>
            <!---->

            <ion-item class="item">
              <ion-icon name="person-circle-outline"></ion-icon>
              <ion-label>
                <h2>481-080195-0000X</h2>
              </ion-label>
            </ion-item>

            <!---->

            <ion-item class="item">
              <ion-icon name="id-card-outline"></ion-icon>
              <ion-label>
                <h2>000-GH0891</h2>
              </ion-label>
            </ion-item>

            <!---->

            <ion-item class="item">
              <ion-icon name="call-outline"></ion-icon>
              <ion-label>
                <h2>8424-0354</h2>
              </ion-label>
            </ion-item>

            <!---->

            <ion-item class="item">
              <ion-icon name="mail-outline"></ion-icon>
              <ion-label>
                <h2>axell@gmail.com</h2>
              </ion-label>
            </ion-item>
            

          </ion-list>
        </ion-col>
      </ion-row>

      <!---->

      <br>

      <ion-row>
        <ion-col>
          <img src="../../assets/media/img/logo.png" alt="" style="width: 30%; display: block; margin: auto;">
        </ion-col>
      </ion-row>

      <br>
  </ion-grid>
</ion-content>
