<ion-content>
  <ion-grid class="fondo">
    <ion-row>
      <div class="avatar" style="background-image: url(../../assets/media/img/taxista.jpg); margin-top: 50%;"></div>
      <!--<ion-avatar>
        <img src="../../assets/media/img/taxista.jpg" alt="" class="imagen">
      </ion-avatar>-->
    </ion-row>

    <ion-row class="p">
      <ion-card style="width: 100%;">
        <ion-card-content>
          <ion-col size="6">
            <p>Horario <br> 8:00pm - 9:00pm</p>
          </ion-col>
          <ion-col size="6">
            <p>Dias de Trabajo <br> Lunes a Viernes</p>
          </ion-col>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
