<ion-content>  
    <img src="../../assets/media/img/baneerinicio.png" alt="">
    <ion-row>
      <ion-card class="rend">
        <ion-card-header style="margin-top: 3%;">
          <ion-card-title style="font-size: 1.7em;">Mi Amigo Foráneo</ion-card-title>
          <ion-card-subtitle>Ingresa tu Cuenta</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-input placeholder="Ingresa tu Correo"></ion-input>
          <br>
          <ion-input placeholder="Ingresa tu Contraseña"></ion-input>
          <br> 
          <p style="font-size: 0.8em;"> <a href="" style="text-decoration: none; color: black;">¿Olvidaste tu Contraseña?</a> </p>
          <br>
          <ion-button color="warning" style="width: 100%;">Iniciar Sesión</ion-button>
          <br><br>
          <p style="font-size: 0.8em; text-align: center;">¿No tienes una Cuenta?<a href="" style="text-decoration: none; color: black;"> Regístrate</a> </p>
          <br>
        </ion-card-content>
      </ion-card>
    </ion-row>
</ion-content>
