.segmet{

}
.textoPrincipal {
    color: #0A3054;
    font-weight: bold;
}
  
#textoPrincipalHead {
  color: rgb(0, 0, 0);
}
.textoPrincipal span {
  color: #0A3054;
  font-weight: bold;
}
.logoMAF{
  width: 50px;
  height: 65px;
  margin-top: 0.5rem;
  margin-right: 0.45rem;
}
.espacio{
    margin-bottom: 10% !important;
}