<ion-content>
  <iframe width="100%" height="250px" allowFullScreen="true" allow="accelerometer; magnetometer; gyroscope" style="display:block; border:0 none; max-width:880px;border-radius:8px; box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);" src="https://panoraven.com/es/embed/hXjtyLHuyL">
  </iframe>
    <ion-card style="width: 100%; margin: 0;" class="card">
      <ion-grid>
        <ion-card-header>
              <ion-row>
                <ion-col size="7" class=".vAlign">
                  <ion-card-title style="font-size: 1.4em;" class="p">Cuarto para Estudiante</ion-card-title>
                </ion-col>
                <ion-col size="5">
                  <ion-avatar class="imagen" style="float: right !important; text-align: right;">
                    <img src="../../assets/media/portadas/negocio3.jpg" alt="" class="imagen">
                  </ion-avatar>
                </ion-col>
              </ion-row>
          </ion-card-header>
      
        <ion-row>
          <ion-card-content>
            <p><b>Propietario:</b> Axell Ramos</p>
            <p><b>Precio ($):</b> 40</p><br>
            <p>Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>
          </ion-card-content>
        </ion-row>

        <ion-row>
          <ion-card-content style="text-align: center; margin: 0 auto;">
            <h2 style="text-align: center; margin: 0 auto;"><strong>Servicios</strong></h2>
          </ion-card-content>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card-content style="text-align: center; margin: 0 auto;">
              <ion-icon name="bulb-outline" style="width: 30px; height: 30px;"></ion-icon><p>Energia Electrica</p>
            </ion-card-content>
          </ion-col>
          <ion-col>
            <ion-card-content style="text-align: center; margin: 0 auto;">
              <ion-icon name="water-outline" style="width: 30px; height: 30px;"></ion-icon><p>Agua Potable</p>
            </ion-card-content>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card-content style="text-align: center; margin: 0 auto;">
              <ion-icon name="wifi-outline" style="width: 30px; height: 30px;"></ion-icon><p>Internet</p>
            </ion-card-content>
          </ion-col>
          <ion-col>
            <ion-card-content style="text-align: center; margin: 0 auto;">
              <ion-icon name="fast-food-outline" style="width: 30px; height: 30px;"></ion-icon><p>Comida</p>
            </ion-card-content>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-card-content style="margin-top: -10% !important;">
            <h2><strong>Otros Servicios</strong></h2>
          </ion-card-content>
        </ion-row>

        <ion-row style="margin-top: -5%;">
            <ion-card-content>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nam? voluptatibus excepturi consequuntur eiu</p>
            </ion-card-content>
        </ion-row>

        <ion-row>
          <ion-card-content style="margin-top: -10% !important;">
            <h2><strong>Normas y Reglas</strong></h2>
          </ion-card-content>
        </ion-row>

        <ion-row style="margin-top: -5%;">
            <ion-card-content>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nam? voluptatibus excepturi consequuntur eiu</p>
            </ion-card-content>
        </ion-row>

        <ion-row>
          <ion-button color="warning" style="width: 100%;">Reservar</ion-button>
        </ion-row>
        <br>
        
      </ion-grid>
    </ion-card>
</ion-content>
