/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'lato';
}

.consejos{
  border-radius: 10%;
    /*border-top-left-radius: 20% 20%;
    border-top-right-radius: 20% 20%;
    border-bottom-right-radius: 20% 20%;
    border-bottom-left-radius: 20% 20%;*/
}
/*Primera Sección*/
#primeraRow {
  margin-top: 1.2rem;
}

.textoPrincipal {
  color: #0A3054;
  font-weight: bold;
  font-size: 1.53rem;
  margin-left: 0.30rem !important;
}

.txtSL {
  font-size: 0.75rem;
  color: #686868;
  margin-left: 0.45rem;
}

.textoSecundarios {
  margin-top: -0.50rem;
}

.textoTerciarios {
  margin-top: -0.35rem;
  font-weight: bold;
  font-size: 0.85rem;
  color: #505050;
}

/*Iconos Perfiles*/
.logoMAF {
  width: 50px;
  height: 65px;
  margin-top: 1.2rem;
  margin-right: 0.45rem;
}


/*Secciónn Slider*/
#textSliderPromociones {
  margin-top: 0.30rem;
  margin-left: 0.70rem;
  font-size: 0.80rem;
}

/*Tarjetas Banner*/
.card {
  width: 80vw;
  height: 45vh;
  border-radius: 21px;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.03);
}


/*ImgBanner*/
#itemSliderPromo1 {
  /* background-image: url('../../assets/media/banners/bannerPromo1.jpg'); */
  background-size: cover;
  background-position: 50% 50%;
}

#itemSliderPromo2 {
  /* background-image: url('../../assets/media/banners/bannerPromo2.jpg'); */
  background-size: cover;
  background-position: 50% 50%;
}

#itemSliderPromo3 {
  /*  background-image: url('../../assets/media/banners/bannerPromo3.jpg'); */
  background-size: cover;
  background-position: 50% 50%;
}

/* Sección de negocios*/
#txtNegocios {
  font-size: 0.80rem;
  margin-top: 0.60rem;
}

/*Sección Negocios*/
.secNegocios {
  margin-bottom: 3.5rem;
}

.itemNegocios {
  width: 85vw;
  height: 23vh;
  background-color: aqua;
  margin-bottom: 0.70rem;
  border-radius: 20px;
}

#pmNegocio {
  margin-bottom: 1.1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}