<ion-content [fullscreen]="true">
  <ion-grid>
 <!--Primera Row de textos-->
    <!--Fila de encabezado-->
    <ion-row id="primeraRow">
      <!--Primera Columna-->
      <ion-col size="9">
        <div>
          <h1 class="textoPrincipal" id="textoPrincipalHead">Food Zone</h1>
          <h1 class="textoTerciarios txtSL" id="textComidas">Encuentra comida Casera, fritanga y comida rápida a precios de locura</h1>
        </div>
      </ion-col>
      <!--Segunda Columna-->
      <ion-col zise="3">
        <img src="../assets/media/img/iconos/petIcon.png" class="logoMAF">
      </ion-col>
    </ion-row>
    <!--Seccion Negocios-->
    <ion-row class="secNegocios ion-justify-content-center">
      <!--Banner Negocios-->
      <div class="itemNegocios ion-align-self-center cntBannerNegocios" id="pmNegocio"  style="background-image:url('../../assets/media/portadas/negocio1.jpg')">
        <img src="../assets/media/stars/cincoEstrellas.png" class="estrellas">
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
