<ion-content>
  <ion-row>
      <ion-col><br>
          <img src="../../assets/media/img/logo.png" alt="" style="width: 50%; display: block; margin: auto;">
      </ion-col>
  </ion-row><br>
  <ion-row>
    <ion-card class="rend">
      <ion-card-header>
        <ion-card-title style="font-size: 1.7em;">Mi Amigo Foráneo</ion-card-title>
        <ion-card-subtitle>Datos Personales</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> 
        <ion-input placeholder="Nombre" class="input"></ion-input>
        <br>
        <ion-input placeholder="Apellido" class="input"></ion-input>
        <br>
        <ion-input placeholder="Opcupa" class="input"></ion-input>
        <br>
        <ion-input placeholder="Dirección" class="input"></ion-input>
        <br>
        <ion-input placeholder="Cedula" class="input"></ion-input>
        <br>
        <ion-input placeholder="Celular" class="input"></ion-input>
        <br>
        <ion-input placeholder="Correo" class="input"></ion-input>
        <br>
        <ion-input placeholder="Numero de Carnet" class="input"></ion-input>
        <br>
        <ion-list>          
            <ion-item class="input">
              <ion-label>Usuario</ion-label>
              <ion-select placeholder="Select One">
                <ion-select-option value="f">Estudiante</ion-select-option>
                <ion-select-option value="m">Egresado</ion-select-option>
              </ion-select>
            </ion-item>          
        </ion-list>
        <br>
        <ion-button color="warning" style="width: 100%;">Registrarse</ion-button><br>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
